@page
@model linqu.Web.Pages.UserPanel.ChangePasswordModel
@{
    Layout = "Layouts/_UserPanelLayout";
    ViewData["Title"] = "پنل کاربری - تغیر کلمه عبور";
}


<div class="card border-0 rounded shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 mt-4 pt-2">
                <h5 class="text-center text-primary">تغییر رمز عبور </h5>
                <form method="post">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">رمز عبور قدیمی : </label>
                                <div class="form-icon position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                    <input asp-for="Change.OldPassword" type="password" class="form-control ps-5" placeholder="رمز قدیمی" required>
                                    <span asp-validation-for="Change.OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">رمز عبور جدید : </label>
                                <div class="form-icon position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                    <input asp-for="Change.Password" type="password" class="form-control ps-5" placeholder="رمز جدید" required>
                                    <span asp-validation-for="Change.Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">تایید رمز عبور جدید : </label>
                                <div class="form-icon position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key fea icon-sm icons"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                    <input asp-for="Change.ConfirmPassword" type="password" class="form-control ps-5" placeholder="رمز عبور جدید" required>
                                    <span asp-validation-for="Change.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-2 mb-0">
                            <button class="btn btn-primary">تغیر رمز عبور </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>