@page
@model linqu.Web.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "تغیر کلمه عبور";
}


<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="me-lg-5">
                    <img src="~/WebContent/images/user/recovery.svg" class="img-fluid d-block mx-auto" alt="Account recovery Logo">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center"> تغیر کلمه ی عبور </h4>
                        <form method="post" class="login-form mt-4">
                            <input asp-for="Reset.ConfirmationCode" type="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">رمز عبور جدید   <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input asp-for="Reset.Password" type="password" class="form-control ps-5" placeholder=" رمز عبور " required>
                                            <span asp-validation-for="Reset.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">تکرار رمز عبور جدید <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input asp-for="Reset.ConfirmPassword" type="password" class="form-control ps-5" placeholder="تکرار رمز عبور" required>
                                            <span asp-validation-for="Reset.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary">ارسال </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>