@model linqu.Core.DTOs.Account.AccountActivationViewModel


<div style="margin-top: 50px;">
    <table style="direction: rtl; text-align: right; font-family: IRANSansfanum; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);" cellspacing="0" cellpadding="0">
        <thead>
            <tr style="background-color: #2f55d4; padding: 3px 0; border: none; line-height: 68px; text-align: center; color: #fff; font-size: 24px; letter-spacing: 1px;">
                <th scope="col"><img src="~/WebContent/images/logo-light.png" height="24"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 48px 24px 0; color: #161c2d; font-size: 18px; font-weight: 600;">
                    سلام @Model.FullName
                </td>
            </tr>
            <tr>
                <td style="padding: 15px 24px 15px; color: #8492a6;">
                    برای ادامه ، روی دکمه زیر کلیک کنید
                </td>
            </tr>
            <tr>
                <td style="padding: 15px 24px;">
                    <a href="https://localhost:44343/Account/ActiveAccount?confirmationCode=@Model.ConfirmationCode" style="padding: 8px 20px; outline: none; text-decoration: none; font-size: 16px; letter-spacing: 0.5px; transition: all 0.3s; font-weight: 600; border-radius: 6px; background-color: #2f55d4; border: 1px solid #2f55d4; color: #ffffff;">تایید آدرس ایمیل</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 16px 8px; color: #8492a6; background-color: #f8f9fc; text-align: center;">
                    دوست دار شما : linqu
                </td>
            </tr>
        </tbody>
    </table>
</div>

