
<!--========= Footer Start =========-->

<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start">
                    <p class="mb-0">طراحی شده با  <i class="mdi mdi-heart text-danger"></i> توسط  <a href="https://linqu.ir" target="_blank" class="text-reset">سید پویان نبوی</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--========= Footer End =========-->