<!-- BEGIN FOOTER -->

<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p> © کپی رایت</p>
    </div>
    <div class="footer-section f-section-2">
        <span class="copyright"> کدنویسی شده توسط : <a href="https://PouyanCodes.ir"> سید پویان نبوی </a> </span>
    </div>
</div>

<!-- END FOOTER-->
