@page
@using linqu.Core.Convertors
@model linqu.Web.Pages.UserPanel.DashboardModel
@{
    Layout = "Layouts/_UserPanelLayout";
    ViewData["Title"] = "پنل کاربری - داشبورد";
}

<div class="border-bottom pb-4">
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="d-flex align-items-center mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user fea icon-ex-md text-muted me-3"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>                  
                <div class="flex-1">
                    <h6 class="text-primary mb-0">نام و نام خانوادگی :</h6>
                    <a href="javascript:void(0)" class="text-muted">@Model.UserInformation.FullName</a>
                </div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail fea icon-ex-md text-muted me-3"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                <div class="flex-1">
                    <h6 class="text-primary mb-0"> ایمیل :</h6>
                    <a href="javascript:void(0)" class="text-muted">@Model.UserInformation.Email</a>
                </div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift fea icon-ex-md text-muted me-3"><polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path></svg>
                <div class="flex-1">
                    <h6 class="text-primary mb-0 ">تاریخ ثبت نام :</h6>
                    <a href="javascript:void(0)" class="text-muted">@Model.UserInformation.RegisterDate.ToShamsi()</a>
                </div>
            </div>
        </div>
    </div>
</div>

